body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
    padding: 0 20px;
    border-bottom: 1px solid #222;
}
.header .left,
.header .center,
.header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar {
    position: fixed;
    top: 60px;
    width: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    bottom: 0;
    padding: 20px 10px;

}

.sidebar a {
    color: white;
    border-radius: 10px;
    text-decoration: none;
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    transition: 0.2;

}

.sidebar a:hover {
    background-color: #222;
}

.categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.categories button {
    background-color: #222;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 15px;
    transition: 0.2s;
}

.categories button:hover {
    background-color: #333;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    cursor: pointer;
    transition: 0.2s;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card h4 {
    margin: 10px 0px 10px;
    font-size: 16px;
}

.card p {
    color: gray;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.01);
}

.header button {
    position: relative;
    background: #222;
    color: white;
    padding: 8px 16px;
    right: 10px;
    border: none;
}

.btn2 {
    border-radius: 20px;
}

.btn1 {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: absolute;
    left: 200px;
    top: 60px;
    bottom: 0px;
    right: 0;
    overflow-y: auto;
    padding: 20px;
}

.center {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    width: 40vw;
    max-width: 500px;
    min-width: 150px;
    background-color: black;
    color: white;
    border: 1px solid #333;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px 12px;
    outline: none;
}

.search-box button {
    background: #222;
    border: 1px solid #333;
    border-left: none;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
@media (max-width: 768px) {

    /* Hide sidebar */
    .sidebar {
        display: none;
    }

    /* Content full width */
    .main-container {
        left: 0;
        padding: 15px;
    }

    /* Reduce search width */
    .search-box input {
        width: 50vw;
        min-width: 100px;
    }

    /* Reduce header gap */
    .header .left,
    .header .center,
    .header .right {
        gap: 8px;
    }

}
@media (max-width: 500px) {

    .btn2 {
        display: none;   /* hide Create button */
    }

    .search-box input {
        width: 40vw;
    }

}